<div class="coffee-details-background">
  <div *ngIf="coffee" class="coffee-details">
    <div class="coffee-image">
      <img [src]="coffee.imageUrl" alt="{{ coffee.name }}" />
    </div>

    <div class="separator"></div>

    <div class="coffee-info">
      <h2>{{ getBrandName(coffee.brand) }} - {{ coffee.name }}</h2>

      <div class="price-order-container">
        <p class="price">Price: {{ coffee.price }} MDL</p>
        <button class="place-order-button" (click)="openOrderModal()">Place Order</button>
      </div>

      <div style="margin-top: 10px;">
        <p class="details-header">Details:</p>
        <p>{{ coffee.description }}</p>
      </div>

      <div class="review-section">
        <div *ngIf="isLoggedIn" class="reviews-section">
          <h3 class="review-text-header">Write a review</h3>
          <div class="review-box">
            <span class="user-greeting">Hello, {{ user.userName }}!</span>
            <textarea class="review-input" [(ngModel)]="reviewText" placeholder="Share your thoughts..."></textarea>
            
            <div class="review-actions">
              <p style="color: black; margin-right: 10px;">Rating:</p>
              <div class="rating" (change)="onRatingSelected($event)">
                <input type="radio" id="star-5" name="star-radio" value="5">
                <label for="star-5">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                  </svg>
                </label>
                <input type="radio" id="star-4" name="star-radio" value="4">
                <label for="star-4">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                  </svg>
                </label>
                <input type="radio" id="star-3" name="star-radio" value="3">
                <label for="star-3">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                  </svg>
                </label>
                <input type="radio" id="star-2" name="star-radio" value="2">
                <label for="star-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                  </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="1">
                <label for="star-1">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                  </svg>
                </label>
              </div>
              <button class="submit-review-button" (click)="submitReview()">Submit</button>
            </div>
          </div>
        </div>

        <div *ngIf="coffee?.reviews?.length" class="reviews-section">
          <h3 class="review-text-header">Customer Reviews</h3>
          <div class="row" style="margin-top: -10px; margin-bottom: 15px;" *ngIf="!isLoggedIn">
            <p style="color: #eee">Write a review? 
              <a href="/login" style="text-decoration: underline; color: rgb(228, 128, 14)">Authorize</a> first!
            </p>
          </div>
          <div class="review-card" *ngIf="currentReview">
            <div class="review-header">
              <span class="username">{{ currentReview.userName }}</span>
              <span class="rating">Rating: {{ currentReview.rating }}/5</span>
            </div>
            <div class="comment">
              <p>{{ currentReview.comment }}</p>
            </div>
          </div>
          <div class="review-dots">
            <span 
              *ngFor="let review of coffee?.reviews; let i = index" 
              class="dot" 
              [class.active]="i === reviewIndex"
              (click)="goToReview(i)">
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Display popup window for quantity selection -->
    <div *ngIf="isModalOpen" class="modal-overlay">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Place order</h3>
          <button class="close-modal" (click)="closeOrderModal()">
            <i class="fa-regular fa-circle-xmark"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-main-content">
            <div class="coffee-image">
              <img [src]="coffee.imageUrl" alt="{{ coffee.name }}" />
              <h4>{{ getBrandName(coffee.brand) }} - {{ coffee.name }}</h4>
            </div>
            <div class="quantity-section">
              <div class="quantity-label">Quantity</div>
              <div class="quantity-selector">
                <button (click)="decreaseQuantity()" class="quantity-button">-</button>
                <input type="number" [(ngModel)]="quantity" min="1" class="quantity-input" />
                <button (click)="increaseQuantity()" class="quantity-button">+</button>
              </div>
              <div class="price-display">
                <p>Price: {{ (coffee.price * quantity) | number: '1.2-2' }} MDL</p>
              </div>
            </div>
          </div>
          <div class="add-to-cart-container">
            <button (click)="placeOrder()" class="add-to-cart-button">Add to cart</button>
          </div>
        </div>
      </div>
  </div>

  <div *ngIf="!coffee">
    <p>Loading coffee details...</p>
  </div>
</div>