.coffee-details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 85vh;
  }
  
  .coffee-image {
    width: 30%;
    padding-right: -20px;
  }
  
  .coffee-image img {
    width: 80%;
    height: auto;
    border-radius: 8px;
  }
  
  .separator {
    width: 1px;
    background-color: #ddd;
    height: 100%;
    margin: 0 20px;
  }
  
  .coffee-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .coffee-info h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .coffee-info p {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  .details-header {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .reviews-section {
    margin-top: 15px;
    max-width: 600px;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.review-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-text-header
{
  font-size: 1.2rem;
  font-weight: bold;
}

.review-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.username {
  color: #333;
}

.rating {
  color: #f39c12;
}

.comment {
  font-style: italic;
  margin-top: 8px;
  color: #555;
}