nav {
  background-color: #333333;
  color: #fff;
  padding: 0.5rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.site-name {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2rem;
  margin-left: auto;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a.active {
  text-decoration: underline;
}

nav ul li a i {
  margin-right: 2px;
}