<div class="order-background">
  <div *ngIf="orders && orders.length > 0" class="orders-wrapper">

    <div *ngIf="!orders">
      <p>Loading orders...</p>
    </div>

    <h2 style="margin-left:20px; color: #eee">Order Details</h2>

    <div *ngFor="let order of orders" class="order-card">
      <div class="order-info">

        <div *ngIf="order.coffeeId && coffeeDetailsMap[order.coffeeId]" class="order-coffee">
          <img [src]="coffeeDetailsMap[order.coffeeId].imageUrl" alt="Coffee Image" class="coffee-image" />
          <div class="order-details">
            <p><strong>Coffee:</strong> {{ coffeeDetailsMap[order.coffeeId].name }}</p>
            <p><strong>Price:</strong> {{ coffeeDetailsMap[order.coffeeId].price }}</p>
            <p><strong>Quantity:</strong> {{ order.quantity }}</p>
            <p><strong>Order Date:</strong> {{ order.orderDate | date: 'short' }}</p>
            <p><strong>Total:</strong> {{ calculateOrderTotal(order.coffeeId, order.quantity) }} MDL</p>
          </div>
        </div>
        <div *ngIf="!coffeeDetailsMap[order.coffeeId]" class="no-coffee">
          <p>No coffee details available</p>
        </div>
      </div>

      <div class="order-actions">
        <button (click)="openEditModal(order.id, order.quantity)" class="action-btn edit-btn">
          <i class="fa fa-pencil"></i>
        </button>
        <button (click)="openDeleteModal(order.id)" class="action-btn delete-btn">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!orders || orders.length === 0" class="no-orders-available">
    <p>No orders available.</p>
  </div>

  <div class="total-price">
    <h3>Total Sum: {{ calculateTotalPrice() | number: '1.2-2'}} MDL</h3>
  </div>

  <!-- Edit Modal -->
  <div *ngIf="isEditModalVisible" class="modal">
  <div class="modal-content">
    <h3>Edit Order Quantity</h3>
    <label for="quantity">New Quantity:</label>
    <input type="number" [(ngModel)]="newQuantity" min="1" />

    <div class="modal-actions">
      <button (click)="updateOrder()" class="btn save-btn">Save</button>
      <button (click)="closeEditModal()" class="btn cancel-btn">Cancel</button>
    </div>
  </div>
  </div>

  <!-- Delete Modal -->
  <div *ngIf="isDeleteModalVisible" class="modal">
  <div class="modal-content">
    <h3>Delete Order</h3>
    <p>Are you sure you want to delete this order?</p>
    <div class="modal-actions">
      <button (click)="confirmDeleteOrder()" class="btn save-btn">Yes</button>
      <button (click)="closeDeleteModal()" class="btn cancel-btn">Cancel</button>
    </div>
  </div>
  </div>
</div>